
      .Bparametre {
        color: #fff;
        margin-left: 200px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        font-size: 1.0em;
        text-align: center;
        box-shadow: 0 2px 8px 0 #999;
        background-color: #555555;
        transition-duration: 0.4s;
      }
      .Bparametre:hover {
      	background-color: #3D8C3D; color: black;
      	color: black;
      }


      body {
        background: #3D3D3D;
        text-align: center;
        display: inline-block;
        margin: 10px 10px;
        overflow: hidden;
        height: 550px;
        width: 250px;
        border: 3px double #fff;
        color: Black;
        overflow: visible;
        text-align: center;

      }
     body:after {
       background: #fff;
       padding: 0 4px;
       position: relative;
       top: -13px;
       width: 200px;
     }


      button {
        color: #fff;
        margin: 10px;
        position: relative;
        width: 100px;
        height: 45px;
        border-radius: 10px;
        border: none;
        font-size: 1.0em;
        text-align: center;
        text-decoration: none;
        box-shadow: 0 2px 8px 0 #999;
        background: #3D3D3D;
        transition-duration: 0.4s;
        font-family: consolas;
      }
      button:hover {
      	background-color: #3D8C3D; color: black;
      	color: black;
      }


      .Btitre {
        margin: 0;
        padding: 20px 0;
        color: #00539F;
        font-size: 20px;
        text-shadow: 3px 3px 1px black;
        font-family: consolas;
        text-align: center;
      }


      a {
        color: #fff;
        transition-duration: 0.4s;
      }
      a:hover {
      	color: orange;
      }


      .col-size {
        background-color: red;
        width: 100%;
      }


      hr {
    border: none;
    border-top: 3px double #fff;
    color: #fff;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 200px;
    }
    hr:after {
    background: #fff;
    padding: 0 4px;
    position: relative;
    top: -13px;
    width: 200px;
    }
    .colorWell{
      width: 100px;
    }