button {
  height: 30px;
  width: 60px;
  outline: none;
  margin-top: 5px;
  border: none;
  border-radius: none;
  margin-left: 25px;
  background-color: #274240;
  border: 2px solid grey;
}


h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}


a {
  color: whitesmoke;
}